<div class="card shadow mb-4 mt-2">
  <div class="card-header py-3">
    <a href="/admin/booking" class="btn btn-secondary">Kembali</a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img src="http://localhost:3000/<%= booking.payments.proofPayment %>" alt="" style="width: 100%; display: block;"><hr>
        <% if(booking.payments.status !== 'Disetujui') { %>
        <form action="/admin/booking/<%= booking._id %>/confirmation?_method=PUT" method="post" style="display: inline-block;">
          <button type="submit" class="btn btn-success btn-sm" style="width: auto;"><i class="fas fa-check"></i> Konfirmasi</button>
        </form>
        <% if(booking.payments.status !== 'Ditolak') { %>
        <form action="/admin/booking/<%= booking._id %>/reject?_method=PUT" method="post" style="display: inline-block;">
          <button type="submit" class="btn btn-danger btn-sm" style="width: auto; display: inline-block;"><i class="fas fa-times"></i> Tolak</button>
        </form>
        <% } %>
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTableActivity" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nama Member</th>
                <th>Total</th>
                <th>Bank Account</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= booking.member_id.firstName %>&nbsp;<%= booking.member_id.lastName %></td>
                <td>Rp. <%= booking.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                <td><%= booking.payments.bankFrom %></td>
                <td><%= booking.item_id.title %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>